$maincolor: #3b74dd;

.NavigationBar {
    display: flex;
    gap: 0px;
    position: fixed;
    bottom: 0;

    width: 100%;
    max-width: 500px;
    min-width: 300px;

    .Navitem {
        flex: 1;
        padding: 10px 20px;
        cursor: pointer;
        background-color: #f0f0f0;
        border-radius: 0px;
        transition: background-color 0.3s ease;


        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;

        transition: .5s;

        .img {
            width: 16px;
            height: 16px;
        }

        .text {
            font-size: 12px;
            transition: 0.2s;
        }

        &:hover {
            background-color: #ffffff;
        }
    }

    @mixin Active() {
        color: $maincolor;
        border-bottom: 2px $maincolor;
    }


    .Navitem.active {

        @include Active();

        .text {
            font-weight: bold;
        }
    }

}

@media (max-width:700px) {
    .NavigationBar {
        width: 100%;
        max-width: none !important;
        min-width: 500px !important;
        background-color: #F1F3F5;
    }
}

@media (min-width:700px) {
    .NavigationBar {
        width: 100%;
        max-width: 400px;
        min-width: 400px !important;
        background-color: #F1F3F5;
    }
}